<% content_for(:title, "Show User | Coder Portfolios") %>

<h1>Name: <%= @user.name %></h1>
<h4>Title: <%= @user.title %></h4>
<h4>Description: <%= @user.short_description %></h4>
<h4>More: <%= @user.long_description %></h4>
<h4>User type: <%= @user.app_role %></h4>
<h4>Phone: <%= @user.phone %></h4>
<h4>Email: <%= @user.email %></h4>
<h4>Code Repo: <%= @user.code_url %></h4>
<h4>Hosted App URL: <%= @user.hosted_url %></h4>

<% if @user.skills.any? %>
  <h4>Here are the skills for this user:</h4>

  <ul>
    <% @user.skills.each do |skill| %>
      <li>
        <%= skill.name %> | <%= skill.description %> |
        <%= link_to "Show", user_skill_path(@user, skill) %> |
        <%= link_to "Edit", edit_user_skill_path(@user, skill) %> |
        <%= link_to "Delete", user_skill_path(@user, skill),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no skills yet!</p>
<% end %>

<% if @user.projects.any? %>
  <h4>Here are the projects for this user:</h4>

  <ul>
    <% @user.projects.each do |project| %>
      <li>
        <%= project.name %> | <%= project.short_description %> |
        <%= link_to "Show", user_project_path(@user, project) %> |
        <%= link_to "Edit", edit_user_project_path(@user, project) %> |
        <%= link_to "Delete", user_project_path(@user, project),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no projects yet!</p>
<% end %>

<p><%= link_to "Add a skill", new_user_skill_path(@user) %></p>
<p><%= link_to "Add a project", new_user_project_path(@user) %></p>

<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Delete", user_path(@user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to users", users_path %></p>
